.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
}

.about .item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .item h3 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 40px;
    color: hsl(212, 27%, 19%);
}

.about .item p {
    font-size: 18px;
    margin: 30px 0;
    color: hsl(232, 10%, 55%);
}

.about .item a {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    align-self: flex-start;
    color: hsl(212, 27%, 19%);
    position: relative;
}

.about .item a::after{
    content: '';
    position: absolute;
    height: 5px;
    border-radius: 5px;
    left: 0;
    bottom: -5px;
    width: 100%;
    transition: 0.3s ease-in;
}

.about .item .btn-learn-more-right::after{
    background-color: hsl(7, 99%, 70%);
}

.about .item .btn-learn-more-right:hover::after{
    background-color: hsla(7, 99%, 70%, 50%);
}

.about .item .btn-learn-more-left::after{
    background-color: hsl(51, 100%, 49%);
}

.about .item .btn-learn-more-left:hover::after{
    background-color: hsla(51, 100%, 49%, 50%);
}

.about .image {
    height: 100%;
    width: 100%;
}

.about .image.right {
    background-image: url('../../images/desktop/image-transform.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .image.left {
    background-image: url('../../images/desktop/image-stand-out.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:500px){
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "first-image"
            "first-text";
    }

    .about .item:nth-child(1) {
        grid-area: first-text;
    }
}