.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(167, 44%, 69%);
    padding: 100px 0;
    width: 100%;
}

.footer h3 {
    font-size: 40px;
    margin-bottom: 40px;
    color: hsl(167, 40%, 24%);
}

.footer ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.footer ul li a {
    font-size: 20px;
    margin: 20px;
    transition: 0.3s;
    color: hsl(167, 40%, 24%);
}

.footer ul li a:hover {
    color: hsl(0, 0%, 100%);
}

.footer .social i {
    font-size: 25px;
    transition: 0.3s;
    color: hsl(167, 40%, 24%);
}

.footer .social {
    display: flex;
    margin: 0 auto;
}

.footer .social li a i:hover {
    color: hsl(0, 0%, 100%);
}